@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap');

body{
  background: black;
  width:100%;
  height:100%;
}
.container{
  width:100%;
  max-width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  
}
.container-text{
  color:#a8b2d1;
}
.title{
  color:#a8b2d1;
  font-family: 'Rubik Mono One', sans-serif;
  font-size:50px;
}